.overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}

.bottom-drawer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    transform: none;
    transition-property: transform;
    transition-duration: 10s; /* Adjust the duration as needed */
}

.toggle-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

}

  
  